// --- font
@font-face {
    font-family: 'Rockwell Extra Bold';
    src: url(../fonts/Rockwell_Extra_Bold.ttf);
}

@font-face {
    font-family: 'Cambria';
    src: url(../fonts/Cambria.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Montserrat:wght@300;400;500;600&display=swap');
// === /font 
// --- mixins
@mixin dark_layer {
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 2;
    }
}

// === / mixins
// --- variables
$screen_xs_max: 575px;
$screen_sm_max: 767px;
$screen_md_max: 991px;
$screen_lg_max: 1199px;
$screen_sm: 576px;
$screen_md: 768px;
$screen_lg: 992px;
$screen_xl: 1200px;
// === / variables
// --- commons
* {
    box-sizing: border-box;
}

.body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 160%;
    color: #1D1B1B;
    a,
    a:hover {
        text-decoration: none;
        color: #fff;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .container {
        max-width: 1287px;
    }
    .main_btn {
        display: inline-block;
        border: 1px solid #FFFFFF;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 14px;
        line-height: 145.9%;
        /* or 20px */
        text-align: center;
        min-width: 237px;
        padding: 11px;
        transition: .3s;
        &:hover {
            background: rgba(255, 255, 255, 0.4);
        }
        &:active {
            transform: scale(0.95);
            background: rgba(255, 255, 255, 0.6);
        }
    }
    .logo {
        font-family: 'Rockwell Extra Bold';
        font-weight: 800;
    }
    .section_title {
        font-family: 'Cambria', sans-serif;
        font-size: 55px;
        line-height: 143.9%;
        margin-bottom: 50px;
    }
    .card_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 25px;
        height: 100%;
    }
    .call_button {
        position: fixed;
        right: 55px;
        bottom: 55px;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        border: 2px solid #000;
        background: #ffffff70;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        cursor: pointer;
        transition: .3s;
        &:hover {
            background: rgba(255, 255, 255, 0.4);
        }
        &:active {
            transform: scale(0.95);
            background: rgba(255, 255, 255, 0.6);
        }
    }
    ._pl-35 {
        padding-left: 35px;
    }
    .show_hide,
    .show_hide:hover {
        font-size: 15px;
        color: rgba(0, 0, 0, 0.5);
    }
    @media (max-width: $screen_lg_max) {
        .container {
            padding: 0 35px;
        }
    }
    @media (max-width: $screen_xs_max) {
        .container {
            padding: 0 30px;
        }
        .section_title {
            font-size: 34px;
            margin-bottom: 30px;
        }
    }
}

section {
    padding-bottom: 150px;
    overflow-x: hidden;
    @media (max-width: $screen_xs_max) {
        padding-bottom: 75px;
    }
}

// --- section_intro
.section_intro {
    padding: 0;
    .section_header {
        position: absolute;
        top: 50px;
        width: 100%;
        z-index: 4;
        .logo {
            color: #fff;
            font-size: 25px;
            line-height: 29px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        .nav_link {
            font-weight: 500;
            font-size: 18px;
            line-height: 143.9%;
        }
        @media (max-width: $screen_xs_max) {
            .container {
                padding: 0 15px;
            }
        }
    }
    .carousel {
        a {
            z-index: 3;
            span {
                background-size: cover;
                width: 40px;
                height: 40px;
            }
            .carousel-control-next-icon {
                background: url(../img/svg/next.svg) no-repeat;
            }
            .carousel-control-prev-icon {
                background: url(../img/svg/prev.svg) no-repeat;
            }
        }
        .carousel-indicators {
            li+li {
                margin-left: 30px;
            }
            li {
                border-radius: 50%;
                width: 15px;
                height: 15px;
            }
        }
        .carousel-item {
            position: relative;
            @include dark_layer;
        }
        .text_box {
            bottom: 38%;
            font-size: 45px;
            line-height: 88px;
            span {
                font-weight: 800;
                font-size: 64px;
                line-height: 88px;
            }
        }
        .carousel-indicators {
            margin-bottom: 30px;
        }
    }
    @media (min-width: $screen_sm) and (max-width: $screen_lg_max) {
        .text_box {
            font-size: 45px;
            line-height: 88px;
            span {
                font-weight: 800;
                font-size: 64px;
                line-height: 88px;
            }
            &__button {
                margin-top: 20px;
                .main_btn {
                    min-width: 358px;
                }
            }
        }
    }
    @media (max-width: $screen_lg_max) {
        .banner {
            position: relative;
            @include dark_layer();
        }
        .text_box {
            z-index: 3;
            position: absolute;
            color: #fff;
            left: 0;
            bottom: 25%;
            font-size: 45px;
            line-height: 88px;
            span {
                font-weight: 800;
                font-size: 64px;
                line-height: 88px;
            }
        }
    }
    @media (max-width: $screen_xs_max) {
        .banner {
            height: 630px;
            img {
                height: 100%;
            }
            .text_box {
                font-size: 25px;
                line-height: 145.9%;
                letter-spacing: 0.05em;
                span {
                    font-size: 30px;
                    font-weight: 800;
                }
                &__button {
                    margin-top: 50px;
                }
            }
            .main_btn {
                max-width: 243px;
            }
        }
    }
}

// ===/ section_intro
// --- section_promo
.section_promo {
    padding-top: 150px;
    .logo {
        font-size: 50px;
        line-height: 59px;
        text-transform: uppercase;
        margin-bottom: 35px;
    }
    .image_boxes_area {
        position: relative;
        min-height: 800px;
    }
    .image_box {
        position: absolute;
        .image_text {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #000;
        }
        &.star_1 {
            left: 50%;
            margin-left: -182.5px;
        }
        &.star_2 {
            left: 0;
            bottom: 180px;
        }
        &.star_3 {
            right: 0;
            bottom: 180px;
        }
    }
    .image_bottom {
        position: absolute;
        width: 92px;
        bottom: 0;
        left: 50%;
        margin-left: -46px;
        .figure_line {
            width: 2px;
            height: 164px;
            background: rgba(0, 0, 0, 0.4);
        }
    }
    @media (min-width: $screen_sm) and (max-width: $screen_lg_max) {
        .image_boxes_area {
            margin-top: 100px;
        }
    }
    @media (max-width: $screen_xs_max) {
        padding-top: 75px;
        .container {
            padding: 0 30px;
            // padding: 0 20px;
        }
        .promo_text_wrap {
            margin-bottom: 30px;
            .logo {
                font-size: 30px;
                margin-bottom: 15px;
            }
        }
        .image_boxes_area {
            max-width: 336px;
            min-height: 466px;
        }
        .image_text {
            font-size: 17px;
        }
        .image_box {
            max-width: 170px;
            max-height: 170px;
            &.star_1 {
                left: 50%;
                margin-left: -85px;
            }
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .image_bottom .figure_line {
            width: 1px;
            height: 130px;
        }
    }
}

// ===/ section_promo
// --- section_about
.section_about {
    .image_wrap {
        img {
            position: relative;
            width: 656px;
        }
    }
    @media (min-width: $screen_sm) and (max-width: $screen_lg_max) {
        .image_wrap {
            margin: 0 0 20px 20px;
        }
    }
    @media (max-width: $screen_xs_max) {
        .image_wrap {
            padding: 0;
            margin-bottom: 50px;
        }
    }
}

// ===/ section_about
// --- section_advantages
.section_advantages {
    .card_item {
        background: rgba(196, 196, 196, 0.2);
        &__title {
            margin: 20px 0;
            font-weight: 600;
            font-size: 30px;
            line-height: 41px;
            letter-spacing: 0.11em;
            color: #000000;
        }
        &__description {
            font-weight: 300;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
            color: rgba(0, 0, 0, 0.8);
        }
    }
    @media (max-width: $screen_lg_max) {
        .card_item_wrap {
            padding: 30px;
        }
    }
    @media (max-width: $screen_xs_max) {
        .card_item_wrap {
            padding: 15px 30px;
        }
    }
}

// ===/ section_advantages
// --- section_specialization
.section_specialization {
    background: url(../img/specialization.jpg) no-repeat 0 0;
    background-size: cover;
    padding-bottom: 0;
    position: relative;
    @include dark_layer;
    .specialization_inner_wrap {
        position: relative;
        z-index: 3;
    }
    .section_title {
        margin-top: 50px;
        color: #fff;
    }
    .slick-vertical .slick-slide {
        border: none;
        outline: none;
    }
    .slide_item {
        min-height: 391px;
        position: relative;
        // .text_box_wrap {
        //     position: absolute;
        //     max-width: 280px;
        //     left: 93px;
        //     bottom: 30px;
        //     .figure_circle {
        //         width: 123px;
        //         height: 123px;
        //         border-radius: 50%;
        //     }
        //     .some_text {
        //         font-weight: 600;
        //         position: absolute;
        //         left: 45px;
        //         bottom: 28px;
        //     }
        // }
        &__dark {
            background: rgba(0, 0, 0, 0.6);
            color: #fff;
            .figure_circle {
                border: 1px solid #fff;
            }
        }
        &__light {
            background: rgba(255, 255, 255, 0.6);
            color: #000;
            .figure_circle {
                border: 1px solid #000;
            }
        }
    }
    @media (min-width: $screen_sm) {
        .slide_item {
            min-height: 391px;
        }
        .text_box_wrap {
            position: absolute;
            max-width: 280px;
            left: 93px;
            bottom: 30px;
            .figure_circle {
                width: 123px;
                height: 123px;
                border-radius: 50%;
            }
            .some_text {
                font-weight: 600;
                position: absolute;
                left: 45px;
                bottom: 28px;
            }
        }
    }
    @media (max-width: $screen_lg_max) {
        background-position: 65% 0;
    }
    @media (max-width: $screen_xs_max) {
        .slide_item {
            min-height: 300px;
        }
        .container {
            padding: 0 30px;
        }
        .text_box_wrap {
            position: absolute;
            max-width: 120px;
            left: 10px;
            bottom: 40px;
            .figure_circle {
                width: 52px;
                height: 52px;
                border-radius: 50%;
            }
            .some_text {
                font-size: 15px;
                line-height: 18px;
                font-weight: 600;
                position: absolute;
                left: 24px;
                bottom: 8px;
            }
        }
    }
}

// ===/ section_specialization
// --- section_work_algorithm
.section_work_algorithm {
    padding-top: 150px;
    .slick-prev,
    .slick-next {
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #fff;
        border: 2px solid #5A5957;
        z-index: 3;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        transition: .3s;
        outline: none;
        font-size: 0;
        position: absolute;
        top: 50%;
        margin-top: -25px;
        &:hover {
            background-color: rgba(0, 0, 0, 0.02);
        }
        &:active {
            transform: scale(0.95);
            background-color: rgba(0, 0, 0, 0.05);
        }
    }
    .slick-prev {
        background-image: url(../img/svg/slider_prev-icon.svg);
        left: -60px;
    }
    .slick-next {
        background-image: url(../img/svg/slider_next-icon.svg);
        right: -60px;
    }
    .slick-slide {
        outline: none;
    }
    .card_item {
        background: #F9F8F7;
        min-height: 390px;
        padding: 40px 20px;
        margin-bottom: 12px;
        transition: .3s;
        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 70px;
            width: 70px;
            margin-bottom: 12px;
        }
        &__title {
            margin-bottom: 24px;
            font-weight: bold;
            font-size: 18px;
            line-height: 143.9%;
            letter-spacing: 0.11em;
            color: #1D1B1B;
        }
        &__description {
            font-size: 18px;
            line-height: 143.9%;
            /* or 26px */
            color: #1D1B1B;
            margin: 0;
            padding-left: 20px;
            li+li {
                margin-top: 12px;
            }
        }
        &:hover {
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        }
    }
    @media (max-width: $screen_lg_max) {
        padding-bottom: 100px;
        .section_title {
            padding-left: 50px;
        }
        .container {
            padding: 0;
        }
        .card_item_wrap {
            padding: 50px;
            position: relative;
            &__1,
            &__2,
            &__3,
            &__4 {
                &::after {
                    content: "";
                    background-image: url(../img/svg/algorithm-arrow.svg);
                    background-repeat: no-repeat;
                    background-position: center center;
                    position: absolute;
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
    @media (max-width: $screen_lg_max) {
        padding-bottom: 0px;
    }
    @media (min-width: $screen_sm) {
        .card_item_wrap {
            &__1::after {
                margin-top: -16px;
                top: 50%;
                right: -20px;
            }
            &__2,
            &__3 {
                &::after {
                    bottom: -20px;
                    margin-left: -16px;
                    left: 50%;
                    transform: rotate(90deg);
                }
            }
            &__4::after {
                margin-top: -16px;
                left: -20px;
                top: 50%;
                transform: rotate(180deg);
            }
        }
    }
    @media (max-width: $screen_xs_max) {
        padding-top: 75px;
        .card_item_wrap {
            padding: 30px 50px;
            &__1,
            &__3 {
                &::after {
                    bottom: -20px;
                    left: 50px;
                    transform: rotate(90deg);
                }
            }
            &__2,
            &__4 {
                &::after {
                    bottom: -20px;
                    right: 50px;
                    transform: rotate(90deg);
                }
            }
        }
    }
}

// ===/ section_work_algorithm
// --- section_search_method
.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}

.section_search_method {
    background: url(../img/search_method.jpg) no-repeat 0 0;
    background-size: cover;
    position: relative;
    padding: 0;
    @include dark_layer();
    .search_method_inner_wrap {
        position: relative;
        z-index: 3;
    }
    .section_title {
        // margin-top: 100px;
        color: #fff;
        font-size: 50px;
        line-height: 130%;
        margin-bottom: 0;
    }
    .search_method_item {
        width: 50%;
        min-height: 413px;
        // backdrop-filter: blur(10px);
        font-weight: 600;
        padding-right: 20px;
        display: flex;
        align-items: center;
    }
    .item_list {
        margin-left: 70px;
        position: relative;
        li {
            padding-left: 30px;
            position: relative;
        }
        .list_circle {
            &::before {
                content: "";
                position: absolute;
                width: 15px;
                height: 15px;
                left: -8px;
                top: 50%;
                margin-top: -7.5px;
                border-radius: 50%;
            }
        }
        .list_circle_big {
            &::before {
                content: "";
                position: absolute;
                display: inline-block;
                width: 20px;
                height: 20px;
                left: -10.5px;
                top: 50%;
                margin-top: -10px;
                border-radius: 50%;
            }
        }
    }
    .item_dark {
        background: rgba(0, 0, 0, 0.4);
        color: #C4C4C4;
        .item_list {
            &::before {
                content: "";
                position: absolute;
                width: 1px;
                top: 9px;
                left: -1px;
                height: 85%;
                background: #fff;
            }
            .list_circle {
                &::before {
                    background: #fff;
                }
            }
            .list_circle_big {
                &::before {
                    background: #000;
                }
            }
        }
    }
    .item_light {
        background: rgba(196, 196, 196, 0.4);
        transition: .4s;
        .item_list {
            &::before {
                content: "";
                position: absolute;
                width: 1px;
                top: 6px;
                left: -1px;
                height: 96%;
                background: #000;
            }
            .list_circle {
                &::before {
                    background: #000;
                }
            }
            .list_circle_big {
                &::before {
                    background: #fff;
                }
            }
        }
    }
    @media (min-width: $screen_sm) {
        .item_list {
            li+li {
                margin-top: 30px;
            }
        }
    }
    @media (max-width: $screen_lg_max) {
        .container {
            padding: 0;
        }
        .item_list {
            margin-left: 40px;
        }
    }
    @media (max-width: $screen_xs_max) {
        background-position: 34% 0;
        .search_method_item {
            width: 70%;
            padding-top: 40px;
            padding-bottom: 40px;
        }
        .item_dark .item_list {
            &::before {
                height: 80%;
            }
        }
        .item_list {
            li+li {
                margin-top: 20px;
            }
            li {
                font-size: 15px;
            }
        }
    }
}

// ===/ section_search_method
// --- section_feedback
.section_feedback {
    padding-top: 150px;
    .text_box {
        font-family: 'Cambria', sans-serif;
    }
    .form {
        margin-top: 30px;
        input,
        textarea,
        button {
            width: 100%;
            border: none;
            outline: none;
            resize: none;
            padding: 11px 0;
            border-bottom: 1px solid #C4C4C4;
            font-family: 'Montserrat';
            font-weight: 500;
            font-size: 15px;
            color: rgba(29, 27, 27, 0.5);
            margin-top: 45px;
        }
        .button {
            border: 1px solid #000000;
            font-weight: 600;
            color: #000;
            background: #00000000;
            transition: .3s;
            text-align: center;
            cursor: pointer;
            &:hover {
                background: rgba(0, 0, 0, 0.02);
            }
            &:active {
                transform: scale(0.95);
                background: rgba(0, 0, 0, 0.05);
            }
        }
    }
    @media (max-width: $screen_xs_max) {
        padding-top: 75px;
    }
}

// ===/ section_feedback
// --- section_contacts
.section_contacts {
    padding-bottom: 0;
    background: url(../img/contacts.jpg) no-repeat 0 0;
    background-size: cover;
    position: relative;
    @include dark_layer();
    .contact_box {
        margin: 150px 0;
        padding: 50px 0px;
        position: relative;
        z-index: 3;
        background: rgba(196, 196, 196, 0.2);
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 145.9%;
        /* or 29px */
        color: #FFFFFF;
        .contacts_title {
            margin-bottom: 50px;
            font-weight: 400;
        }
    }
    .footer {
        position: relative;
        z-index: 3;
        padding: 30px 0;
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        color: #CBCACA;
    }
    @media (min-width: $screen_sm) {
        .contact_box {
            backdrop-filter: blur(20px);
        }
    }
    @media (max-width: $screen_lg_max) {
        .contact_box {
            margin-bottom: 63px;
        }
    }
    @media (max-width: $screen_xs_max) {
        .contact_box {
            margin: 75px 0 0;
        }
        background-position: 9% 0;
    }
}

// ===/ section_contacts