@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Montserrat:wght@300;400;500;600&display=swap");
@font-face {
  font-family: 'Rockwell Extra Bold';
  src: url(../fonts/Rockwell_Extra_Bold.ttf); }

@font-face {
  font-family: 'Cambria';
  src: url(../fonts/Cambria.ttf); }

* {
  box-sizing: border-box; }

.body {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 160%;
  color: #1D1B1B; }
  .body a,
  .body a:hover {
    text-decoration: none;
    color: #fff; }
  .body ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .body .container {
    max-width: 1287px; }
  .body .main_btn {
    display: inline-block;
    border: 1px solid #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 145.9%;
    /* or 20px */
    text-align: center;
    min-width: 237px;
    padding: 11px;
    transition: .3s; }
    .body .main_btn:hover {
      background: rgba(255, 255, 255, 0.4); }
    .body .main_btn:active {
      transform: scale(0.95);
      background: rgba(255, 255, 255, 0.6); }
  .body .logo {
    font-family: 'Rockwell Extra Bold';
    font-weight: 800; }
  .body .section_title {
    font-family: 'Cambria', sans-serif;
    font-size: 55px;
    line-height: 143.9%;
    margin-bottom: 50px; }
  .body .card_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 25px;
    height: 100%; }
  .body .call_button {
    position: fixed;
    right: 55px;
    bottom: 55px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid #000;
    background: #ffffff70;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    cursor: pointer;
    transition: .3s;
    transform: rotate(10deg); }
    .body .call_button img {
      width: 35px; }
    .body .call_button:hover {
      background: rgba(255, 255, 255, 0.4); }
    .body .call_button:active {
      transform: scale(0.95);
      background: rgba(255, 255, 255, 0.6); }
  .body ._pl-35 {
    padding-left: 35px; }
  .body .show_hide,
  .body .show_hide:hover {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5); }
  @media (max-width: 1199px) {
    .body .container {
      padding: 0 35px; } }
  @media (max-width: 575px) {
    .body .container {
      padding: 0 30px; }
    .body .section_title {
      font-size: 34px;
      margin-bottom: 30px; } }

section {
  padding-bottom: 150px;
  overflow-x: hidden; }
  @media (max-width: 575px) {
    section {
      padding-bottom: 75px; } }

.section_intro {
  padding: 0; }
  .section_intro .section_header {
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 4; }
    .section_intro .section_header .logo {
      color: #fff;
      font-size: 25px;
      line-height: 29px;
      letter-spacing: 1px;
      text-transform: uppercase; }
    .section_intro .section_header .nav_link {
      font-weight: 500;
      font-size: 18px;
      line-height: 143.9%; }
    @media (max-width: 575px) {
      .section_intro .section_header .container {
        padding: 0 15px; } }
  .section_intro .carousel a {
    z-index: 3; }
    .section_intro .carousel a span {
      background-size: cover;
      width: 40px;
      height: 40px; }
    .section_intro .carousel a .carousel-control-next-icon {
      background: url(../img/svg/next.svg) no-repeat; }
    .section_intro .carousel a .carousel-control-prev-icon {
      background: url(../img/svg/prev.svg) no-repeat; }
  .section_intro .carousel .carousel-indicators li + li {
    margin-left: 30px; }
  .section_intro .carousel .carousel-indicators li {
    border-radius: 50%;
    width: 15px;
    height: 15px; }
  .section_intro .carousel .carousel-item {
    position: relative; }
    .section_intro .carousel .carousel-item::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 2; }
  .section_intro .carousel .text_box {
    bottom: 38%;
    font-size: 45px;
    line-height: 88px; }
    .section_intro .carousel .text_box span {
      font-weight: 800;
      font-size: 64px;
      line-height: 88px; }
  .section_intro .carousel .carousel-indicators {
    margin-bottom: 30px; }
  @media (min-width: 576px) and (max-width: 1199px) {
    .section_intro .banner {
      min-height: 716px; }
    .section_intro .text_box {
      font-size: 45px;
      line-height: 88px; }
      .section_intro .text_box span {
        font-weight: 800;
        font-size: 64px;
        line-height: 88px; }
      .section_intro .text_box__button {
        margin-top: 20px; }
        .section_intro .text_box__button .main_btn {
          min-width: 358px; } }
  @media (max-width: 1199px) {
    .section_intro .banner {
      background: url(../img/banner.jpg) no-repeat 65% 0%;
      background-size: cover;
      position: relative; }
      .section_intro .banner::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 2; }
    .section_intro .text_box {
      z-index: 3;
      position: absolute;
      color: #fff;
      left: 0;
      bottom: 25%;
      font-size: 45px;
      line-height: 88px; }
      .section_intro .text_box span {
        font-weight: 800;
        font-size: 64px;
        line-height: 88px; } }
  @media (max-width: 575px) {
    .section_intro .banner {
      min-height: 630px; }
      .section_intro .banner img {
        height: 100%; }
      .section_intro .banner .text_box {
        font-size: 30px;
        line-height: 145.9%;
        letter-spacing: 0.05em; }
        .section_intro .banner .text_box span {
          font-size: 30px;
          font-weight: 800; }
        .section_intro .banner .text_box__button {
          margin-top: 50px; }
      .section_intro .banner .main_btn {
        max-width: 243px; } }

.section_promo {
  padding-top: 150px; }
  .section_promo .logo {
    font-size: 50px;
    line-height: 59px;
    text-transform: uppercase;
    margin-bottom: 35px; }
  .section_promo .image_boxes_area {
    position: relative;
    min-height: 800px; }
  .section_promo .image_box {
    position: absolute; }
    .section_promo .image_box .image_text {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000; }
    .section_promo .image_box.star_1 {
      left: 50%;
      margin-left: -182.5px; }
    .section_promo .image_box.star_2 {
      left: 0;
      bottom: 180px; }
    .section_promo .image_box.star_3 {
      right: 0;
      bottom: 180px; }
  .section_promo .image_bottom {
    position: absolute;
    width: 92px;
    bottom: 0;
    left: 50%;
    margin-left: -46px; }
    .section_promo .image_bottom .figure_line {
      width: 2px;
      height: 164px;
      background: rgba(0, 0, 0, 0.4); }
  @media (min-width: 576px) and (max-width: 1199px) {
    .section_promo .image_boxes_area {
      margin-top: 100px; } }
  @media (max-width: 575px) {
    .section_promo {
      padding-top: 75px; }
      .section_promo .container {
        padding: 0 30px; }
      .section_promo .promo_text_wrap {
        margin-bottom: 30px; }
        .section_promo .promo_text_wrap .logo {
          font-size: 30px;
          margin-bottom: 15px; }
      .section_promo .image_boxes_area {
        max-width: 336px;
        min-height: 466px; }
      .section_promo .image_text {
        font-size: 17px; }
      .section_promo .image_box {
        max-width: 170px;
        max-height: 170px; }
        .section_promo .image_box.star_1 {
          left: 50%;
          margin-left: -85px; }
        .section_promo .image_box img {
          height: 100%;
          width: 100%;
          object-fit: cover; }
      .section_promo .image_bottom .figure_line {
        width: 1px;
        height: 130px; } }

.section_about .image_wrap img {
  position: relative;
  width: 656px; }

@media (min-width: 576px) and (max-width: 1199px) {
  .section_about .image_wrap {
    margin: 0 0 20px 20px; } }

@media (max-width: 575px) {
  .section_about .image_wrap {
    padding: 0;
    margin-bottom: 50px; } }

.section_advantages .card_item {
  background: rgba(196, 196, 196, 0.2); }
  .section_advantages .card_item__title {
    margin: 20px 0;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: 0.11em;
    color: #000000; }
  .section_advantages .card_item__description {
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8); }

@media (max-width: 1199px) {
  .section_advantages .card_item_wrap {
    padding: 30px; } }

@media (max-width: 575px) {
  .section_advantages .card_item_wrap {
    padding: 15px 30px; } }

.section_specialization {
  background: url(../img/specialization.jpg) no-repeat 0 0;
  background-size: cover;
  padding-bottom: 0;
  position: relative; }
  .section_specialization::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2; }
  .section_specialization .specialization_inner_wrap {
    position: relative;
    z-index: 3; }
  .section_specialization .section_title {
    margin-top: 50px;
    color: #fff; }
  .section_specialization .slick-vertical .slick-slide {
    border: none;
    outline: none; }
  .section_specialization .slide_item {
    min-height: 391px;
    position: relative; }
    .section_specialization .slide_item__dark {
      background: rgba(0, 0, 0, 0.6);
      color: #fff; }
      .section_specialization .slide_item__dark .figure_circle {
        border: 1px solid #fff; }
    .section_specialization .slide_item__light {
      background: rgba(255, 255, 255, 0.6);
      color: #000; }
      .section_specialization .slide_item__light .figure_circle {
        border: 1px solid #000; }
  @media (min-width: 576px) {
    .section_specialization .slide_item {
      min-height: 391px; }
    .section_specialization .text_box_wrap {
      position: absolute;
      max-width: 280px;
      left: 93px;
      bottom: 30px; }
      .section_specialization .text_box_wrap .figure_circle {
        width: 123px;
        height: 123px;
        border-radius: 50%; }
      .section_specialization .text_box_wrap .some_text {
        font-weight: 600;
        position: absolute;
        left: 45px;
        bottom: 28px; } }
  @media (max-width: 1199px) {
    .section_specialization {
      background-position: 65% 0; } }
  @media (max-width: 575px) {
    .section_specialization .slide_item {
      min-height: 300px; }
    .section_specialization .container {
      padding: 0 30px; }
    .section_specialization .text_box_wrap {
      position: absolute;
      max-width: 120px;
      left: 10px;
      bottom: 40px; }
      .section_specialization .text_box_wrap .figure_circle {
        width: 52px;
        height: 52px;
        border-radius: 50%; }
      .section_specialization .text_box_wrap .some_text {
        font-size: 15px;
        line-height: 18px;
        font-weight: 600;
        position: absolute;
        left: 24px;
        bottom: 8px; } }

.section_work_algorithm {
  padding-top: 150px; }
  .section_work_algorithm .slick-prev,
  .section_work_algorithm .slick-next {
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    border: 2px solid #5A5957;
    z-index: 3;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: .3s;
    outline: none;
    font-size: 0;
    position: absolute;
    top: 50%;
    margin-top: -25px; }
    .section_work_algorithm .slick-prev:hover,
    .section_work_algorithm .slick-next:hover {
      background-color: rgba(0, 0, 0, 0.02); }
    .section_work_algorithm .slick-prev:active,
    .section_work_algorithm .slick-next:active {
      transform: scale(0.95);
      background-color: rgba(0, 0, 0, 0.05); }
  .section_work_algorithm .slick-prev {
    background-image: url(../img/svg/slider_prev-icon.svg);
    left: -60px; }
  .section_work_algorithm .slick-next {
    background-image: url(../img/svg/slider_next-icon.svg);
    right: -60px; }
  .section_work_algorithm .slick-slide {
    outline: none; }
  .section_work_algorithm .card_item {
    background: #F9F8F7;
    min-height: 390px;
    padding: 40px 20px;
    margin-bottom: 12px;
    transition: .3s; }
    .section_work_algorithm .card_item__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 70px;
      width: 70px;
      margin-bottom: 12px; }
    .section_work_algorithm .card_item__title {
      margin-bottom: 24px;
      font-weight: bold;
      font-size: 18px;
      line-height: 143.9%;
      letter-spacing: 0.11em;
      color: #1D1B1B; }
    .section_work_algorithm .card_item__description {
      font-size: 18px;
      line-height: 143.9%;
      /* or 26px */
      color: #1D1B1B;
      margin: 0;
      padding-left: 20px; }
      .section_work_algorithm .card_item__description li + li {
        margin-top: 12px; }
    .section_work_algorithm .card_item:hover {
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); }
  @media (max-width: 1199px) {
    .section_work_algorithm {
      padding-bottom: 100px; }
      .section_work_algorithm .section_title {
        padding-left: 50px; }
      .section_work_algorithm .container {
        padding: 0; }
      .section_work_algorithm .card_item_wrap {
        padding: 50px;
        position: relative; }
        .section_work_algorithm .card_item_wrap__1::after, .section_work_algorithm .card_item_wrap__2::after, .section_work_algorithm .card_item_wrap__3::after, .section_work_algorithm .card_item_wrap__4::after {
          content: "";
          background-image: url(../img/svg/algorithm-arrow.svg);
          background-repeat: no-repeat;
          background-position: center center;
          position: absolute;
          width: 32px;
          height: 32px; } }
  @media (max-width: 1199px) {
    .section_work_algorithm {
      padding-bottom: 0px; } }
  @media (min-width: 576px) {
    .section_work_algorithm .card_item_wrap__1::after {
      margin-top: -16px;
      top: 50%;
      right: -20px; }
    .section_work_algorithm .card_item_wrap__2::after, .section_work_algorithm .card_item_wrap__3::after {
      bottom: -20px;
      margin-left: -16px;
      left: 50%;
      transform: rotate(90deg); }
    .section_work_algorithm .card_item_wrap__4::after {
      margin-top: -16px;
      left: -20px;
      top: 50%;
      transform: rotate(180deg); } }
  @media (max-width: 575px) {
    .section_work_algorithm {
      padding-top: 75px; }
      .section_work_algorithm .card_item_wrap {
        padding: 30px 50px; }
        .section_work_algorithm .card_item_wrap__1::after, .section_work_algorithm .card_item_wrap__3::after {
          bottom: -20px;
          left: 50px;
          transform: rotate(90deg); }
        .section_work_algorithm .card_item_wrap__2::after, .section_work_algorithm .card_item_wrap__4::after {
          bottom: -20px;
          right: 50px;
          transform: rotate(90deg); } }

.hidden {
  opacity: 0; }

.visible {
  opacity: 1; }

.section_search_method {
  background: url(../img/search_method.jpg) no-repeat 0 0;
  background-size: cover;
  position: relative;
  padding: 0; }
  .section_search_method::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2; }
  .section_search_method .search_method_inner_wrap {
    position: relative;
    z-index: 3; }
  .section_search_method .section_title {
    color: #fff;
    font-size: 50px;
    line-height: 130%;
    margin-bottom: 0; }
  .section_search_method .search_method_item {
    width: 50%;
    min-height: 413px;
    font-weight: 600;
    padding-right: 20px;
    display: flex;
    align-items: center; }
  .section_search_method .item_list {
    margin-left: 70px;
    position: relative; }
    .section_search_method .item_list li {
      padding-left: 30px;
      position: relative; }
    .section_search_method .item_list .list_circle::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      left: -8px;
      top: 50%;
      margin-top: -7.5px;
      border-radius: 50%; }
    .section_search_method .item_list .list_circle_big::before {
      content: "";
      position: absolute;
      display: inline-block;
      width: 20px;
      height: 20px;
      left: -10.5px;
      top: 50%;
      margin-top: -10px;
      border-radius: 50%; }
  .section_search_method .item_dark {
    background: rgba(0, 0, 0, 0.4);
    color: #C4C4C4; }
    .section_search_method .item_dark .item_list::before {
      content: "";
      position: absolute;
      width: 1px;
      top: 9px;
      left: -1px;
      height: 85%;
      background: #fff; }
    .section_search_method .item_dark .item_list .list_circle::before {
      background: #fff; }
    .section_search_method .item_dark .item_list .list_circle_big::before {
      background: #000; }
  .section_search_method .item_light {
    background: rgba(196, 196, 196, 0.4);
    transition: .4s; }
    .section_search_method .item_light .item_list::before {
      content: "";
      position: absolute;
      width: 1px;
      top: 6px;
      left: -1px;
      height: 96%;
      background: #000; }
    .section_search_method .item_light .item_list .list_circle::before {
      background: #000; }
    .section_search_method .item_light .item_list .list_circle_big::before {
      background: #fff; }
  @media (min-width: 576px) {
    .section_search_method .item_list li + li {
      margin-top: 30px; } }
  @media (max-width: 1199px) {
    .section_search_method .container {
      padding: 0; }
    .section_search_method .item_list {
      margin-left: 40px; } }
  @media (max-width: 575px) {
    .section_search_method {
      background-position: 34% 0; }
      .section_search_method .search_method_item {
        width: 70%;
        padding-top: 40px;
        padding-bottom: 40px; }
      .section_search_method .item_dark .item_list::before {
        height: 80%; }
      .section_search_method .item_list li + li {
        margin-top: 20px; }
      .section_search_method .item_list li {
        font-size: 15px; } }

.section_feedback {
  padding-top: 150px; }
  .section_feedback .text_box {
    font-family: 'Cambria', sans-serif; }
  .section_feedback .form {
    margin-top: 30px; }
    .section_feedback .form input,
    .section_feedback .form textarea,
    .section_feedback .form button {
      width: 100%;
      border: none;
      outline: none;
      resize: none;
      padding: 11px 0;
      border-bottom: 1px solid #C4C4C4;
      font-family: 'Montserrat';
      font-weight: 500;
      font-size: 15px;
      color: rgba(29, 27, 27, 0.5);
      margin-top: 45px; }
    .section_feedback .form .button {
      border: 1px solid #000000;
      font-weight: 600;
      color: #000;
      background: #00000000;
      transition: .3s;
      text-align: center;
      cursor: pointer; }
      .section_feedback .form .button:hover {
        background: rgba(0, 0, 0, 0.02); }
      .section_feedback .form .button:active {
        transform: scale(0.95);
        background: rgba(0, 0, 0, 0.05); }
  @media (max-width: 575px) {
    .section_feedback {
      padding-top: 75px; } }

.section_contacts {
  padding-bottom: 0;
  background: url(../img/contacts.jpg) no-repeat 0 0;
  background-size: cover;
  position: relative; }
  .section_contacts::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2; }
  .section_contacts .contact_box {
    margin: 150px 0;
    padding: 50px 0px;
    position: relative;
    z-index: 3;
    background: rgba(196, 196, 196, 0.2);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 145.9%;
    /* or 29px */
    color: #FFFFFF; }
    .section_contacts .contact_box .contacts_title {
      margin-bottom: 50px;
      font-weight: 400; }
  .section_contacts .footer {
    position: relative;
    z-index: 3;
    padding: 30px 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #CBCACA; }
  @media (min-width: 576px) {
    .section_contacts .contact_box {
      backdrop-filter: blur(20px); } }
  @media (max-width: 1199px) {
    .section_contacts .contact_box {
      margin-bottom: 63px; } }
  @media (max-width: 575px) {
    .section_contacts {
      background-position: 9% 0; }
      .section_contacts .contact_box {
        margin: 75px 0 0; } }
